* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Arial', sans-serif; }

.row {
  max-width: 1440px;
  margin: 0 auto; }

a,
a:visited,
a:hover {
  outline: none;
  color: inherit;
  text-decoration: none; }

.bg-cover-image {
  background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.4) 10.61%, rgba(0, 0, 0, 0.05) 42.62%, #000000 78.97%), url(../../images/Cover_Image.svg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed; }

header {
  padding-top: 50px; }
  header .company-name {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    cursor: pointer; }
    header .company-name :hover {
      color: inherit; }
  header .nav-item .nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    color: inherit;
    text-transform: uppercase; }
    header .nav-item .nav-link a:hover {
      text-decoration: none;
      background-color: transparent !important; }

.color-black {
  color: #000; }

.color-white {
  color: #fff; }

.m-t-40 {
  margin-top: 40px; }

.m-t-1rem {
  margin-top: 1rem; }

.m-t-3rem {
  margin-top: 3rem; }

.m-t-5rem {
  margin-top: 5rem; }

.m-t-30rem {
  margin-top: 30rem; }

.w-fit-content {
  width: fit-content; }

#home-header-section .new-now-serving {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 200px;
  padding: 5px;
  width: fit-content;
  height: 36px; }
  #home-header-section .new-now-serving .button {
    background: #1E46F2;
    border-radius: 200px;
    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 1.5px;
    padding: 4px 10px;
    width: fit-content; }
  #home-header-section .new-now-serving .now-serving {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    width: fit-content; }

#home-header-section .company-tagline {
  font-weight: 600;
  font-size: 58px;
  line-height: 64px;
  letter-spacing: -2px; }

#home-header-section .caption {
  font-weight: 500;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.7; }
