* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-y: auto;
  overflow-x: hidden; }

.row {
  max-width: 1440px;
  margin: 0 auto; }

header nav {
  padding: 0 !important; }

a,
a:visited,
a:hover {
  outline: none;
  color: inherit;
  text-decoration: none; }

.btn-primary {
  background: linear-gradient(90.48deg, #6A81E6 0.41%, #4765E4 37.4%, #2F52E9 70.05%, #1537C6 110.28%);
  border-radius: 6px;
  border: 0; }

.bg-cover-image {
  background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.4) 10.61%, rgba(0, 0, 0, 0.05) 42.62%, #000000 78.97%), url(../../images/Cover_Image.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 110vh; }

input,
button {
  border: 0; }

button {
  outline: none; }

header {
  padding-top: 50px; }
  header .company-name {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    cursor: pointer; }
    header .company-name :hover {
      color: inherit; }
  header .nav-item .nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    color: inherit;
    text-transform: uppercase; }
    header .nav-item .nav-link a:hover {
      text-decoration: none;
      background-color: transparent !important; }

footer .company-name {
  font-weight: 600;
  font-size: 26px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase; }

footer .privacy-policy {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #798084; }

footer input {
  height: 35px;
  background: #DDDDDD;
  border-radius: 4px;
  min-width: 250px; }
  footer input::placeholder {
    padding: 10px; }

footer button {
  height: 35px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px; }

footer .email-contact {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #798084; }

footer .title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #36454C; }

footer .menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #798084;
  margin-top: 15px; }

* {
  font-family: 'Poppins', 'Arial', sans-serif; }

.color-black {
  color: #000; }

.color-white {
  color: #fff; }

.section-title-gradient {
  background: linear-gradient(82.51deg, #0FC28D 12.26%, #15B7C1 39.17%, #1A9DC6 60.29%, #0C6DC7 94.89%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }

.m-t-10 {
  margin-top: 10px; }

.m-t-15 {
  margin-top: 15px; }

.m-t-30 {
  margin-top: 30px; }

.m-t-40 {
  margin-top: 40px; }

.m-t-1rem {
  margin-top: 1rem; }

.m-t-3rem {
  margin-top: 3rem; }

.m-t-5rem {
  margin-top: 5rem; }

.m-t-10rem {
  margin-top: 10rem; }

.m-t-30rem {
  margin-top: 30rem; }

.m-b-5rem {
  margin-bottom: 5rem; }

.m-b-10rem {
  margin-bottom: 10rem; }

.m-r-10 {
  margin-right: 10px; }

.m-r-15 {
  margin-right: 10px; }

.m-r-30 {
  margin-right: 30px; }

.m-r-50 {
  margin-right: 50px; }

.m-r-5rem {
  margin-right: 5rem; }

.m-r-10p {
  margin-right: 10%; }

.m-l-10 {
  margin-left: 10px; }

.m-l-40 {
  margin-left: 40px; }

.m-l-3_2rem {
  margin-left: 3.2rem; }

.pd-t-5rem {
  padding-top: 5rem; }

.pd-t-10rem {
  padding-top: 10rem; }

.pd-t-30rem {
  padding-top: 30rem; }

.pd-b-3rem {
  padding-bottom: 3rem; }

.pd-b-10rem {
  padding-bottom: 10rem; }

.pd-b-15rem {
  padding-bottom: 15rem; }

.pd-b-20rem {
  padding-bottom: 20rem; }

.pd-r-30 {
  padding-right: 30px; }

.w-fit-content {
  width: fit-content; }

.w-50p {
  width: 50%; }

.h-15px {
  height: 15px; }

.bg-white {
  background-color: #fff; }

.bg-black {
  background-color: #000; }

.bg-teal-gradient {
  background: linear-gradient(82.51deg, #0FC28D 12.26%, #15B7C1 39.17%, #1A9DC6 60.29%, #0C6DC7 94.89%); }

.talk-to-us-text {
  color: #4163F6; }

.pointer-icon {
  cursor: pointer; }

#home-header .new-now-serving {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 200px;
  padding: 5px;
  width: fit-content;
  height: 36px; }
  #home-header .new-now-serving .button {
    background: #1E46F2;
    border-radius: 200px;
    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 1.5px;
    padding: 4px 10px;
    width: fit-content; }
  #home-header .new-now-serving .now-serving {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    width: fit-content; }

#home-header .company-tagline {
  font-weight: 600;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: -2px; }

#home-header .caption {
  font-weight: 500;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.7; }

#home-header input {
  height: 50px;
  background: #404040;
  border-radius: 6px;
  min-width: 350px;
  margin-right: 20px; }
  #home-header input::placeholder {
    color: #FFF;
    opacity: 1;
    padding: 14px 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px; }

#home-header button {
  height: 48px; }

#what-we-offer .title {
  font-weight: normal;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 0.3px; }

#what-we-offer .tagline {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.3px; }

#what-we-offer .description {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.3px; }

#what-we-offer .questions-container button {
  height: 65px;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px; }

#what-we-offer .questions-container div {
  font-weight: 500;
  font-size: 22px;
  line-height: 22px; }

#why-customers-choose .why-choose-text {
  max-width: 600px;
  font-weight: 600;
  font-size: 88px;
  line-height: 110px;
  letter-spacing: -2px;
  text-transform: capitalize; }

#why-customers-choose .main-description {
  font-weight: normal;
  font-size: 24px;
  line-height: 44px;
  letter-spacing: 0.5px;
  opacity: 0.7;
  margin-bottom: 32px; }

#why-customers-choose button {
  background: #FFFFFF;
  height: 65px;
  width: 200px;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #1E46F2; }

#why-customers-choose .features-container {
  height: 325px; }

#why-customers-choose .feature-with-text {
  padding: 20px 10px 10px 20px; }
  #why-customers-choose .feature-with-text .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 45px; }
  #why-customers-choose .feature-with-text .description {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #818DBF; }

#why-customers-choose .feature {
  width: 325px; }
  #why-customers-choose .feature img {
    width: 100%;
    box-shadow: 0px 0px 164px rgba(31, 62, 200, 0.4); }

#why-customers-choose .car-steering-image {
  top: 380px;
  box-shadow: 0px 0px 164px rgba(31, 62, 200, 0.4); }

#why-customers-choose .why-container {
  background: linear-gradient(to right, black 325px, transparent 0%), linear-gradient(180deg, #0A2597 0%, #1D3CC1 24.37%, #2C4EDE 65.71%, #4968EE 100%);
  padding: 130px 0; }

#testimonials #testimonial-carousel {
  text-align: center; }
  #testimonials #testimonial-carousel .testimonial-text {
    font-weight: 500;
    font-size: 38px;
    line-height: 56px;
    letter-spacing: 0.3px; }
  #testimonials #testimonial-carousel .caption {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0px; }
  #testimonials #testimonial-carousel .sub-caption {
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0px; }
  #testimonials #testimonial-carousel .carousel-indicators {
    position: relative;
    margin: 20px 0 0 0;
    border: 0; }
    #testimonials #testimonial-carousel .carousel-indicators [data-bs-target] {
      background-color: #000;
      border-radius: 50%;
      width: 5px;
      height: 5px;
      border: 0;
      margin: 0 7px; }

#use-cases .use-cases-container {
  margin-left: calc(9%); }

#use-cases button {
  height: 65px;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px; }

#use-cases .industry-text {
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 0.3px; }

#use-cases .title {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.3px; }

#use-cases .description {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px; }

#use-cases .buttons-container {
  margin-right: calc(9%); }

#use-cases #use-cases-carousel .owl-item {
  width: 320px !important; }

#use-cases #use-cases-carousel .use-case {
  max-width: 275px;
  height: 320px;
  border-bottom: 1px solid #FFFFFF; }
  #use-cases #use-cases-carousel .use-case .title {
    font-weight: 600;
    font-size: 22px;
    line-height: 24px; }
  #use-cases #use-cases-carousel .use-case .description {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px; }

#resources .title {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.3px; }

#resources #resources-carousel .owl-item {
  width: 550px !important;
  margin-right: 105px; }

#resources #resources-carousel .resource {
  max-width: 550px; }
  #resources #resources-carousel .resource .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.5px; }
  #resources #resources-carousel .resource .type {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.5px; }
  #resources #resources-carousel .resource .description {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.7); }
  #resources #resources-carousel .resource .learn-more {
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.5px; }
    #resources #resources-carousel .resource .learn-more img {
      width: 10px; }

#oval-shape-blend {
  height: 800px;
  position: relative; }
  #oval-shape-blend-1 {
    position: relative;
    top: 20%;
    bottom: 20%;
    background-size: 105%;
    height: 525px;
    margin-left: -11.3rem;
    width: 122VW;
    display: flex;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #E8E8E8;
    color: transparent; }

#img-container--1 {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 19%;
  border: 3px solid #E8E8E8;
  backdrop-filter: blur(5px);
  border-radius: 50%;
  top: 1%;
  background: url(../../images/oval_shape_resources/icon1.svg) no-repeat 50% 50%; }
  #img-container--1:hover {
    box-shadow: 0px 0px 30px 1px rgba(171, 185, 186, 0.5);
    backdrop-filter: blur(3px);
    height: 90px;
    width: 90px;
    top: 0%;
    background: url(../../images/oval_shape_resources/icon1-light.svg) no-repeat 50% 50%;
    background-color: #4765E4;
    transition: all ease-in-out .3s; }

#img-container--2 {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 35%;
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid #E8E8E8;
  backdrop-filter: blur(5px);
  border-radius: 50%;
  top: -6%;
  background: url(../../images/oval_shape_resources/icon2.svg) no-repeat 50% 50%; }
  #img-container--2:hover {
    background: #4765E4;
    box-shadow: 0px 0px 30px 1px rgba(171, 185, 186, 0.5);
    backdrop-filter: blur(3px);
    height: 90px;
    width: 90px;
    top: -5%;
    background: url(../../images/oval_shape_resources/icon2-light.svg) no-repeat 50% 50%;
    background-color: #4765E4;
    transition: all ease-in-out .3s; }

#img-container--3 {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid #E8E8E8;
  backdrop-filter: blur(5px);
  border-radius: 50%;
  top: -8%;
  background: url(../../images/oval_shape_resources/icon3.svg) no-repeat 50% 50%; }
  #img-container--3:hover {
    background: #4765E4;
    box-shadow: 0px 0px 30px 1px rgba(171, 185, 186, 0.5);
    backdrop-filter: blur(3px);
    height: 90px;
    width: 90px;
    top: -7%;
    background: url(../../images/oval_shape_resources/icon3-light.svg) no-repeat 50% 50%;
    background-color: #4765E4;
    transition: all ease-in-out .3s; }

#img-container--4 {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 65%;
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid #E8E8E8;
  backdrop-filter: blur(5px);
  border-radius: 50%;
  top: -5%;
  background: url(../../images/oval_shape_resources/icon4.svg) no-repeat 50% 50%; }
  #img-container--4:hover {
    background: #4765E4;
    box-shadow: 0px 0px 30px 1px rgba(171, 185, 186, 0.5);
    backdrop-filter: blur(3px);
    height: 90px;
    width: 90px;
    top: -6%;
    background: url(../../images/oval_shape_resources/icon4-light.svg) no-repeat 50% 50%;
    background-color: #4765E4;
    transition: all ease-in-out .3s; }

#img-container--5 {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 79%;
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid #E8E8E8;
  backdrop-filter: blur(5px);
  border-radius: 50%;
  top: 3%;
  background: url(../../images/oval_shape_resources/icon5.svg) no-repeat 50% 50%; }
  #img-container--5:hover {
    background: #4765E4;
    box-shadow: 0px 0px 30px 1px rgba(171, 185, 186, 0.5);
    backdrop-filter: blur(3px);
    height: 90px;
    width: 90px;
    top: 4%;
    background: url(../../images/oval_shape_resources/icon5-light.svg) no-repeat 50% 50%;
    background-color: #4765E4;
    transition: all ease-in-out .3s; }

#oval-shape-content {
  position: absolute;
  left: 12%;
  top: 41%;
  width: 20%; }
  #oval-shape-content--title {
    font-size: 34px;
    font-weight: 600; }
  #oval-shape-content--description {
    font-size: 22px;
    font-weight: 500;
    height: 20%; }

#workforce-partner {
  padding-bottom: 10px;
  z-index: 1; }
  #workforce-partner img {
    z-index: -1;
    bottom: 0px;
    right: 0; }
  #workforce-partner .workforce-container {
    margin-bottom: 140px;
    z-index: 1; }
    #workforce-partner .workforce-container .title {
      font-weight: 600;
      font-size: 82px;
      line-height: 100px;
      letter-spacing: -2px;
      padding-right: 2rem; }
    #workforce-partner .workforce-container .description {
      max-width: 520px;
      font-weight: 500;
      font-size: 19px;
      line-height: 30px;
      opacity: 0.7; }
    #workforce-partner .workforce-container input {
      background: #EEEEEE;
      border: 0.5px solid #000000;
      box-sizing: border-box;
      border-radius: 6px;
      width: 330px;
      height: 50px; }
      #workforce-partner .workforce-container input::placeholder {
        padding: 15px 20px;
        background: #EEEEEE;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        letter-spacing: 1px;
        color: #5B5B5B; }
    #workforce-partner .workforce-container button {
      width: 170px;
      height: 50px; }
    #workforce-partner .workforce-container .email-button {
      border-bottom: 1px solid #000000;
      max-width: 522px; }

#use-cases-nlp .use-cases-text {
  font-weight: normal;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 0.3px; }

#use-cases-nlp .title {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.3px; }

#use-cases-nlp img {
  border: 20px solid #252832;
  box-sizing: border-box; }

#use-cases-nlp .description {
  max-width: 490px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px; }

#use-cases-nlp .accordion {
  max-width: 520px;
  margin-top: 60px; }

#use-cases-nlp .accordion-item {
  margin-bottom: 20px;
  border: 0; }

#use-cases-nlp .accordion-button {
  height: 56px;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  color: #FFFFFF;
  border-radius: 0;
  background: #32384F; }
  #use-cases-nlp .accordion-button .collapsed {
    background: #1E2230; }
  #use-cases-nlp .accordion-button:focus {
    box-shadow: none; }
  #use-cases-nlp .accordion-button::before {
    content: '';
    background: #1E46F2;
    border-radius: 10px;
    width: 24px;
    height: 24px;
    margin-right: 20px; }
  #use-cases-nlp .accordion-button::after {
    background: url(./../../images/solutions_page/accordian_button.png) no-repeat center;
    transform: rotate(180deg); }
  #use-cases-nlp .accordion-button:not(.collapsed)::after {
    transform: rotate(360deg); }

#use-cases-nlp .accordion-body {
  background: #32384F;
  padding: 1rem 4.25rem 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #A4ADCF; }

#use-cases-nlp .accordion-collapse {
  border: 0; }

#feature-offerings .title {
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 0.3px; }

#feature-offerings .sub-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.3px; }

#feature-offerings .description {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px; }

#feature-offerings .offering-container {
  max-width: 275px; }

#feature-offerings .blue-circle {
  background: #1E46F2;
  border-radius: 20px;
  width: 35px;
  height: 35px; }

#feature-offerings .offering-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-top: 20px; }

#feature-offerings .offering-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #A4ADCF; }

#enterprise-ready .e-r-container {
  margin-top: 140px; }

#enterprise-ready .text-container {
  max-width: 575px; }

#enterprise-ready .title {
  font-weight: normal;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 0.3px; }

#enterprise-ready .sub-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.3px; }

#enterprise-ready .description {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px; }

#sol-why-customers-choose .why-container {
  background: #0A2184;
  padding: 45px 55px 65px; }
  #sol-why-customers-choose .why-container .title {
    font-weight: 600;
    font-size: 48px;
    line-height: 90px;
    letter-spacing: -2px;
    text-transform: capitalize; }
  #sol-why-customers-choose .why-container .description {
    max-width: 850px;
    margin-top: 10px;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px; }
  #sol-why-customers-choose .why-container .email-button-container {
    margin-top: 60px; }
    #sol-why-customers-choose .why-container .email-button-container input {
      background: #0A2184;
      border: 2px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 6px;
      width: 330px;
      height: 50px; }
      #sol-why-customers-choose .why-container .email-button-container input::placeholder {
        padding: 15px 20px;
        background: #0A2184;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        letter-spacing: 1px;
        color: #fff; }
    #sol-why-customers-choose .why-container .email-button-container button {
      width: 170px;
      height: 50px;
      background: #FFFFFF;
      border-radius: 6px;
      color: #1E46F2;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 1px; }