#home-header {
    .new-now-serving {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 200px;
        padding: 5px;
        width: fit-content;
        height: 36px;

        .button {
            background: #1E46F2;
            border-radius: 200px;
            font-weight: 600;
            font-size: 10px;
            line-height: 18px;
            letter-spacing: 1.5px;
            padding: 4px 10px;
            width: fit-content;
        }

        .now-serving {
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.5px;
            width: fit-content;
        }

    }

    .company-tagline {
        font-weight: 600;
        font-size: 58px;
        line-height: 80px;
        letter-spacing: -2px;
    }

    .caption {
        font-weight: 500;
        font-size: 19px;
        line-height: 30px;
        // text-align: center;
        color: #FFFFFF;
        opacity: 0.7;
    }

    input {
        height: 50px;
        background: #404040;
        border-radius: 6px;
        min-width: 350px;
        margin-right: 20px;

        &::placeholder {
            color: #FFF;
            opacity: 1;
            padding: 14px 20px;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 1px;
        }
    }

    button {
        height: 48px;
    }
}

#what-we-offer {
    .title {
        font-weight: normal;
        font-size: 20px;
        line-height: 45px;
        letter-spacing: 0.3px;
    }

    .tagline {
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.3px;
    }

    .description {
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.3px;
    }

    .questions-container {
        button {
            height: 65px;
            font-weight: 500;
            font-size: 22px;
            line-height: 22px;
        }

        div {
            font-weight: 500;
            font-size: 22px;
            line-height: 22px;
        }
    }
}

#why-customers-choose {
    .why-choose-text {
        max-width: 600px;
        font-weight: 600;
        font-size: 88px;
        line-height: 110px;
        letter-spacing: -2px;
        text-transform: capitalize;
    }

    .main-description {
        font-weight: normal;
        font-size: 24px;
        line-height: 44px;
        letter-spacing: 0.5px;
        opacity: 0.7;
        margin-bottom: 32px;

    }

    button {
        background: #FFFFFF;
        height: 65px;
        width: 200px;
        font-weight: 500;
        font-size: 22px;
        line-height: 22px;
        letter-spacing: 1px;
        color: #1E46F2;
    }

    .features-container {
        height: 325px;
    }

    .feature-with-text {
        padding: 20px 10px 10px 20px;

        .title {
            font-weight: 600;
            font-size: 24px;
            line-height: 45px;
        }

        .description {
            // margin-top: 10px;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: #818DBF;
        }
    }

    .feature {
        width: 325px;

        img {
            width: 100%;
            box-shadow: 0px 0px 164px rgba(31, 62, 200, 0.4);
        }
    }


    .car-steering-image {
        top: 380px;
        box-shadow: 0px 0px 164px rgba(31, 62, 200, 0.4);
    }


    .why-container {
        background: linear-gradient(to right, black 325px, transparent 0%),
            linear-gradient(180deg, #0A2597 0%, #1D3CC1 24.37%, #2C4EDE 65.71%, #4968EE 100%);
        padding: 130px 0;
    }
}

#testimonials {
    #testimonial-carousel {
        text-align: center;

        .testimonial-text {
            font-weight: 500;
            font-size: 38px;
            line-height: 56px;
            letter-spacing: 0.3px;
        }

        .caption {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 600;
            line-height: 27px;
            letter-spacing: 0px;
        }

        .sub-caption {
            font-size: 16px;
            font-weight: 500;
            line-height: 27px;
            letter-spacing: 0px;
        }

        // ol.carousel-indicators li.active {
        //     width: 7px;
        //     height: 7px;
        // }

        .carousel-indicators {
            position: relative;
            margin: 20px 0 0 0;
            border: 0;

            [data-bs-target] {
                background-color: #000;
                border-radius: 50%;
                width: 5px;
                height: 5px;
                border: 0;
                margin: 0 7px;

                //     {
                //     height: 7px !important;
                //     width: 7px !important;
                // }
            }

        }
    }
}

#use-cases {

    .use-cases-container {
        margin-left: calc(9%);
    }

    button {
        height: 65px;
        font-weight: 500;
        font-size: 22px;
        line-height: 22px;
    }

    .industry-text {
        font-size: 20px;
        line-height: 45px;
        letter-spacing: 0.3px;
    }

    .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        letter-spacing: 0.3px;
    }

    .description {
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
    }

    .buttons-container {
        margin-right: calc(9%);
    }

    #use-cases-carousel {
        .owl-item {
            width: 320px !important;
        }

        .use-case {
            max-width: 275px;
            height: 320px;
            border-bottom: 1px solid #FFFFFF;

            .title {
                font-weight: 600;
                font-size: 22px;
                line-height: 24px;
            }

            .description {
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                // padding-bottom: 75px;
            }
        }
    }
}

#resources {

    // background: url(./../../images/resources_curve_bg.svg) no-repeat top;

    .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        letter-spacing: 0.3px;
    }

    #resources-carousel {
        .owl-item {
            width: 550px !important;
            margin-right: 105px;
        }

        .resource {
            max-width: 550px;

            .title {
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 0.5px;
            }

            .type {
                font-weight: 500;
                font-size: 12px;
                line-height: 24px;
                letter-spacing: 0.5px;
            }

            .description {
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.5px;
                color: rgba(255, 255, 255, 0.7);
            }

            .learn-more {
                font-weight: normal;
                font-size: 12px;
                line-height: 24px;
                letter-spacing: 0.5px;

                img {
                    width: 10px;
                }
            }
        }
    }
}