#home-header {
    .new-now-serving {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 200px;
        padding: 5px;
        width: fit-content;
        height: 36px;

        .button {
            background: #1E46F2;
            border-radius: 200px;
            font-weight: 600;
            font-size: 10px;
            line-height: 18px;
            letter-spacing: 1.5px;
            padding: 4px 10px;
            width: fit-content;
        }

        .now-serving {
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.5px;
            width: fit-content;
        }

    }

    .company-tagline {
        font-weight: 600;
        font-size: 58px;
        line-height: 80px;
        letter-spacing: -2px;

        @include screen-mob {
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            letter-spacing: -0.5px;
        }
    }

    .caption {
        font-weight: 500;
        font-size: 19px;
        line-height: 30px;
        // text-align: center;
        color: #FFFFFF;
        opacity: 0.7;

        @include screen-mob {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            margin-top: 15px;
        }
    }
}

.get-started {
    @include screen-mob {
        padding: 0;
        min-width: 320px;
    }

    input {
        height: 50px;
        background: #404040;
        border-radius: 6px;
        min-width: 350px;
        margin-right: 20px;

        @include screen-mob {
            min-width: 190px;
            height: 36.85px;
            border-radius: 4px;
        }

        &::placeholder {
            color: #FFF;
            opacity: 1;
            padding: 14px 20px;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 1px;

            @include screen-mob {
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.3px;
                padding: 7px 11px;
            }
        }
    }

    button {
        height: 48px;

        @include screen-mob {
            height: 36.85px;
        }
    }
}

#what-we-offer {

    @include screen-mob {
        .title-desc-container {
            margin-top: 5re;
        }
    }


    .title {
        font-weight: normal;
        font-size: 20px;
        line-height: 45px;
        letter-spacing: 0.3px;
        text-align: center;

        @include screen-mob {
            text-align: left;
        }
    }

    .tagline {
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.3px;
        text-align: center;

        @include screen-mob {
            text-align: left;
            font-size: 20px;
            line-height: 45px;
        }
    }

    .description {
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.3px;
        text-align: center;

        @include screen-mob {
            text-align: left;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            opacity: 0.7;
            margin-top: 20px;
        }
    }

    .offering-hero-img-desk {
        @include screen-mob {
            display: none;
        }
    }

    .offerings-mobile {
        @include screen-tab-desk {
            display: none;
        }

        .offering-hero-img {
            object-fit: cover;
            min-height: 308px;
            width: 100%;
        }

        .title {
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
        }

        .description {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            opacity: 1;
        }
    }

    .questions-container {
        @include screen-mob {
            display: none !important;
        }

        button {
            height: 65px;
            font-weight: 500;
            font-size: 22px;
            line-height: 22px;
        }

        div {
            font-weight: 500;
            font-size: 22px;
            line-height: 22px;
        }
    }
}

#why-customers-choose {
    @include screen-mob {
        .why-main-container {
            display: none;
        }
    }

    .why-main-container-mob {
        @include screen-tab-desk {
            display: none !important;
        }
    }

    .why-choose-text {
        max-width: 600px;
        font-weight: 600;
        font-size: 88px;
        line-height: 110px;
        letter-spacing: -2px;
        text-transform: capitalize;

        @include screen-mob {
            font-weight: 600;
            font-size: 28px;
            line-height: 42px;
            letter-spacing: 0.3px;
        }
    }

    .main-description {
        font-weight: normal;
        font-size: 24px;
        line-height: 44px;
        letter-spacing: 0.5px;
        opacity: 0.7;
        margin-bottom: 32px;

        @include screen-mob {
            font-size: 16px;
            line-height: 24px;
        }
    }

    button {
        background: #FFFFFF;
        height: 65px;
        width: 200px;
        font-weight: 500;
        font-size: 22px;
        line-height: 22px;
        letter-spacing: 1px;
        color: #1E46F2;

        @include screen-mob {
            width: 120px;
            height: 36.85px;
            background: linear-gradient(90.48deg, #6A81E6 0.41%, #4765E4 37.4%, #2F52E9 70.05%, #1537C6 110.28%);
            border-radius: 4px;
            font-size: 14px;
            color: #FFFFFF;
        }
    }

    .features-container {
        height: 325px;
    }

    .feature-with-text {
        padding: 20px 10px 10px 20px;

        @include screen-mob {
            padding-left: inherit;
            padding-right: inherit;

            .title {
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;
                letter-spacing: 0.5px;
            }

            .description {
                font-size: 14px;
                line-height: 22px;
            }
        }

        .title {
            font-weight: 600;
            font-size: 24px;
            line-height: 45px;
        }

        .description {
            // margin-top: 10px;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: #818DBF;
        }
    }

    .feature {
        width: 325px;

        img {
            width: 100%;
            box-shadow: 0px 0px 164px rgba(31, 62, 200, 0.4);
        }
    }


    .car-steering-image {
        top: 380px;
        box-shadow: 0px 0px 164px rgba(31, 62, 200, 0.4);
    }


    .why-container {
        background: linear-gradient(to right, black 325px, transparent 0%),
            linear-gradient(180deg, #0A2597 0%, #1D3CC1 24.37%, #2C4EDE 65.71%, #4968EE 100%);
        padding: 130px 0;
    }

    .get-started {
        padding-bottom: 10rem !important;
    }
}

#use-cases {

    .use-cases-container {
        // margin-left: calc(9%);

        @include screen-mob {
            flex-direction: column !important;
        }
    }

    .use-cases-container-mob {

        @include screen-tab-desk {
            display: none !important;
        }

        button {
            border-radius: 6px;
            height: 36.85px;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
        }
    }

    .title-container,
    .carousel-conatiner {
        width: 50%;

        @include screen-mob {
            width: 100%;
        }
    }

    .title-container {
        @include screen-mob {
            flex-direction: column;
        }
    }

    .carousel-conatiner {
        @include screen-mob {
            display: none !important;
        }
    }

    button {
        height: 65px;
        font-weight: 500;
        font-size: 22px;
        line-height: 22px;
    }

    .industry-text {
        font-size: 20px;
        line-height: 45px;
        letter-spacing: 0.3px;
    }

    .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        letter-spacing: 0.3px;

        @include screen-mob {
            font-size: 28px;
            line-height: 42px;
        }
    }

    .description {
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;

        @include screen-mob {
            font-size: 16px;
            line-height: 24px;
            opacity: 0.7;
        }
    }

    .build-button-desk {
        @include screen-mob {
            display: none !important;
        }
    }

    .buttons-container {
        margin-right: calc(9%);
    }

    #use-cases-carousel {

        .owl-item {
            width: 320px !important;
        }

    }

    .use-case {
        max-width: 275px;
        height: 325px;
        border-bottom: 1px solid #FFFFFF;

        @include screen-mob {
            max-width: 100% !important;
            height: unset;
            margin-top: 5rem;
            border: 0;
        }


        img {
            width: 275px;
            height: 144px;

            @include screen-mob {
                width: 100%;
                height: auto;
            }
        }

        .title {
            font-weight: 600;
            font-size: 22px;
            line-height: 24px;

            @include screen-mob {
                font-weight: 500;
                font-size: 20px;
                line-height: 28px;
                letter-spacing: 0.5px;
            }
        }

        .description {
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;

            // padding-bottom: 75px;
            @include screen-mob {
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.5px;
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }
}

#resources {

    // background: url(./../../images/resources_curve_bg.svg) no-repeat top;

    .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        letter-spacing: 0.3px;
    }

    #resources-carousel {
        .owl-item {
            width: 550px !important;
            margin-right: 105px;
        }

        .resource {
            max-width: 550px;

            .title {
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 0.5px;
            }

            .type {
                font-weight: 500;
                font-size: 12px;
                line-height: 24px;
                letter-spacing: 0.5px;
            }

            .description {
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.5px;
                color: rgba(255, 255, 255, 0.7);
            }

            .learn-more {
                font-weight: normal;
                font-size: 12px;
                line-height: 24px;
                letter-spacing: 0.5px;

                img {
                    width: 10px;
                }
            }
        }
    }
}

#oval-shape-blend{

    height: 800px;
    position: relative;

    &-1{
        position: relative;
        top: 20%;
        bottom: 20%;
        background-size: 105%;
        height: 525px;
        margin-left: -11.3rem;
        width: 122VW;
        display: flex;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #E8E8E8;
        color: transparent;
    }

    // &-2{
    //     position: absolute;
    //     top: 25%;
    //     background-size: 105%;
    //     height: 525px;
    //     margin-left: -11.3rem;
    //     width: 122VW;
    //     display: flex;
    //     object-fit: cover;
    //     border-radius: 50%;
    //     border: 2px green solid;
    //     color: transparent;
    // }

}

#img-container{

    &--1{
        position: absolute;
        height: 80px;
        width: 80px;
        left: 19%;
        // background: rgba(255, 255, 255, 0.6);
        border: 3px solid #E8E8E8;
        backdrop-filter: blur(5px);
        border-radius: 50%;
        top: 1%;
        background: url(../../images/oval_shape_resources/icon1.svg) no-repeat 50% 50%;
        &:hover{
            box-shadow: 0px 0px 30px 1px rgba(171, 185, 186, 0.5);
            backdrop-filter: blur(3px);
            height: 90px;
            width: 90px;
            top: 0%;
            background: url(../../images/oval_shape_resources/icon1-light.svg) no-repeat 50% 50%;
            background-color: #4765E4;  
            transition: all ease-in-out .3s;
        }
    }

    &--2{
        position: absolute;
        height: 80px;
        width: 80px;
        left: 35%;
        background: rgba(255, 255, 255, 0.6);
        border: 3px solid #E8E8E8;
        backdrop-filter: blur(5px);
        border-radius: 50%;
        top: -6%;
        background: url(../../images/oval_shape_resources/icon2.svg) no-repeat 50% 50%;
        &:hover{
            background: #4765E4;
            box-shadow: 0px 0px 30px 1px rgba(171, 185, 186, 0.5);
            backdrop-filter: blur(3px);
            height: 90px;
            width: 90px;
            top: -5%;
            background: url(../../images/oval_shape_resources/icon2-light.svg) no-repeat 50% 50%;
            background-color: #4765E4;  
            transition: all ease-in-out .3s;
        }
    }

    &--3{
        position: absolute;
        height: 80px;
        width: 80px;
        left: 50%;
        background: rgba(255, 255, 255, 0.6);
        border: 3px solid #E8E8E8;
        backdrop-filter: blur(5px);
        border-radius: 50%;
        top: -8%;
        background: url(../../images/oval_shape_resources/icon3.svg) no-repeat 50% 50%;
        &:hover{
            background: #4765E4;
            box-shadow: 0px 0px 30px 1px rgba(171, 185, 186, 0.5);
            backdrop-filter: blur(3px);
            height: 90px;
            width: 90px;
            top: -7%;
            background: url(../../images/oval_shape_resources/icon3-light.svg) no-repeat 50% 50%;
            background-color: #4765E4;  
            transition: all ease-in-out .3s;
        }
    }

    
    &--4{
        position: absolute;
        height: 80px;
        width: 80px;
        left: 65%;
        background: rgba(255, 255, 255, 0.6);
        border: 3px solid #E8E8E8;
        backdrop-filter: blur(5px);
        border-radius: 50%;
        top: -5%;
        background: url(../../images/oval_shape_resources/icon4.svg) no-repeat 50% 50%;
        &:hover{
            background: #4765E4;
            box-shadow: 0px 0px 30px 1px rgba(171, 185, 186, 0.5);
            backdrop-filter: blur(3px);
            height: 90px;
            width: 90px;
            top: -6%;
            background: url(../../images/oval_shape_resources/icon4-light.svg) no-repeat 50% 50%;
            background-color: #4765E4;  
            transition: all ease-in-out .3s;
        }
    }

    &--5{
        position: absolute;
        height: 80px;
        width: 80px;
        left: 79%;
        background: rgba(255, 255, 255, 0.6);
        border: 3px solid #E8E8E8;
        backdrop-filter: blur(5px);
        border-radius: 50%;
        top: 3%;
        background: url(../../images/oval_shape_resources/icon5.svg) no-repeat 50% 50%;
        &:hover{
            background: #4765E4;
            box-shadow: 0px 0px 30px 1px rgba(171, 185, 186, 0.5);
            backdrop-filter: blur(3px);
            height: 90px;
            width: 90px;
            top: 4%;
            background: url(../../images/oval_shape_resources/icon5-light.svg) no-repeat 50% 50%;
            background-color: #4765E4;  
            transition: all ease-in-out .3s;
        }
    }

}

#oval-shape-content{

    position: absolute;
    left: 12%;
    top: 41%;
    width: 20%;

    &--title{
        font-size: 34px;
        font-weight: 600;
    }

    &--description{
        font-size: 22px;
        font-weight: 500;
        height: 20%;
    }
}