#testimonials {
    @include screen-mob {
        padding-top: 5rem !important;
    }

    #testimonial-carousel {
        text-align: center;

        .carousel-inner {
            min-height: 485px;

            @include screen-mob {
                min-height: 420px;
            }
        }

        .testimonial-text {
            font-weight: 500;
            font-size: 38px;
            line-height: 56px;
            letter-spacing: 0.3px;

            @include screen-mob {
                font-size: 18px;
                line-height: 27px;
                text-align: center;
                padding-left: 6%;
                padding-right: 6%;
            }
        }

        img {
            width: 100px;
            height: 100px;
            border-radius: 8px;

            @include screen-mob {
                width: 40px;
                height: 40px;
                border-radius: 4px;
            }
        }

        .caption {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 600;
            line-height: 27px;
            letter-spacing: 0px;
        }

        .sub-caption {
            font-size: 16px;
            font-weight: 500;
            line-height: 27px;
            letter-spacing: 0px;
        }

        // ol.carousel-indicators li.active {
        //     width: 7px;
        //     height: 7px;
        // }

        .carousel-indicators {
            position: relative;
            margin: 20px 0 0 0;
            border: 0;

            [data-bs-target] {
                background: #4765E4;
                border: 1px solid #4765E4;
                border-radius: 50%;
                width: 4px;
                height: 4px;
                border: 0;
                margin: 0 7px;

                @include screen-mob {
                    width: 8px;
                    height: 8px;
                }

                //     {
                //     height: 7px !important;
                //     width: 7px !important;
                // }
            }

        }
    }
}