* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
}

.row {
    max-width: 1440px;
    margin: 0 auto;
}

header nav {
    padding: 0 !important;
}

a,
a:visited,
a:hover {
    outline: none;
    color: inherit;
    text-decoration: none;
}

.btn-primary {
    background: linear-gradient(90.48deg, #6A81E6 0.41%, #4765E4 37.4%, #2F52E9 70.05%, #1537C6 110.28%);
    border-radius: 6px;
    border: 0;
}

.bg-cover-image {
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.4) 10.61%, rgba(0, 0, 0, 0.05) 42.62%, #000000 78.97%), url(../../images/Cover_Image.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 110vh;
}


input,
button {
    border: 0;
}

button {
    outline: none;
}

header {
    padding-top: 50px;

    .company-name {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 1px;
        cursor: pointer;

        :hover {
            color: inherit;
        }
    }

    .nav-item .nav-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 12px;
        color: inherit;
        text-transform: uppercase;

        a:hover {
            text-decoration: none;
            background-color: transparent !important;
        }
    }
}

footer {
    .company-name {
        font-weight: 600;
        font-size: 26px;
        line-height: 22px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .privacy-policy {
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #798084;
    }

    input {
        height: 35px;
        background: #DDDDDD;
        border-radius: 4px;
        min-width: 250px;

        &::placeholder {
            padding: 10px;
        }
    }

    button {
        height: 35px;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 1px;
    }

    .email-contact {
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #798084;
    }

    .title {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #36454C;
    }

    .menu-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #798084;
        margin-top: 15px;
    }
}