* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dropdown:hover .dropdown-menu {
    display: block;
    // margin-top: 0;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
}

.row {
    max-width: 1440px;
    margin: 0 auto;

    @include screen-mob {
        padding: 0 4%;
        max-width: 100vw;
    }
}

.header-menu {
    @include screen-mob {
        display: none;
    }

    @include screen-tab-desk {
        display: inherit;
    }
}

.header-menu-mob {
    @include screen-tab-desk {
        display: none;
    }
}

header nav {
    padding: 0 !important;
}

a,
a:visited,
a:hover {
    outline: none;
    color: inherit;
    text-decoration: none;
}

.btn-primary {
    background: linear-gradient(90.48deg, #6A81E6 0.41%, #4765E4 37.4%, #2F52E9 70.05%, #1537C6 110.28%);
    border-radius: 6px;
    border: 0;

    @include screen-mob {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 1px;
        border-radius: 4px;
    }
}

.bg-cover-image {
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.4) 10.61%, rgba(0, 0, 0, 0.05) 42.62%, #000000 78.97%), url(../../images/Cover_Image.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // height: 110vh;
    padding-bottom: 100px;
}


input,
button {
    border: 0;
}

button {
    outline: none;
}

#header {
    @include screen-mob {
        padding-top: 60px;
    }
}

header {
    padding-top: 50px;

    .company-name {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 1px;
        cursor: pointer;

        :hover {
            color: inherit;
        }
    }

    .nav-item .nav-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 12px;
        color: inherit;
        text-transform: uppercase;

        a:hover {
            text-decoration: none;
            background-color: transparent !important;
        }
    }
}

footer {

    .footer-container-desk {
        @include screen-mob {
            display: none !important;
        }
    }

    .footer-container-mob {
        @include screen-tab-desk {
            display: none !important;
        }
    }

    .company-name {
        font-weight: 600;
        font-size: 26px;
        line-height: 22px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .privacy-policy {
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #798084;

        @include screen-mob {
            margin-top: 3rem !important;
        }
    }

    input {
        height: 35px;
        background: #DDDDDD;
        border-radius: 4px;
        min-width: 250px;

        &::placeholder {
            padding: 10px;
        }
    }

    button {
        height: 35px;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 1px;
    }

    .email-contact {
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #798084;
    }

    .title {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #4765E4;
    }

    .menu-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #798084;
        margin-top: 15px;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: -100px 0px 130px -1px rgba(0, 0, 0, 0.67);
    -webkit-box-shadow: -100px 0px 130px -1px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: -100px 0px 130px -1px rgba(0, 0, 0, 0.67);

    @include screen-tab-desk {
        display: none;
    }
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    transition: 0.3s;
}

// .sidenav a:hover {
//     color: #f1f1f1;
// }

.sidenav .closebtn {
    display: block;
    position: relative;
    width: 100%;
    padding: 0 15px;
    text-align: end;
    font-size: 36px;
    color: #000 !important;
}