// Margin.
.m-t-40 {
    margin-top: 40px;
}

.m-t-1rem {
    margin-top: 1rem;
}

.m-t-3rem {
    margin-top: 3rem;
}

.m-t-5rem {
    margin-top: 5rem;
}

.m-t-30rem {
    margin-top: 30rem;
}

// Width
.w-fit-content {
    width: fit-content;
}