// Margin.
.m-t-15 {
    margin-top: 15px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-t-1rem {
    margin-top: 1rem;
}

.m-t-3rem {
    margin-top: 3rem;
}

.m-t-5rem {
    margin-top: 5rem;
}

.m-t-10rem {
    margin-top: 10rem;
}

.m-t-30rem {
    margin-top: 30rem;
}

.m-r-10 {
    margin-right: 10px;
}

.m-r-15 {
    margin-right: 10px;
}

.m-r-30 {
    margin-right: 30px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-l-40 {
    margin-left: 40px;
}

.m-l-3_2rem {
    margin-left: 3.2rem;
}

// Padding
.pd-t-10rem {
    padding-top: 10rem;
}

.pd-t-30rem {
    padding-top: 30rem;
}

.pd-b-3rem {
    padding-bottom: 3rem;
}

.pd-b-10rem {
    padding-bottom: 10rem;
}

.pd-b-20rem {
    padding-bottom: 20rem;
}

.pd-r-30 {
    padding-right: 30px;
}

// Width
.w-fit-content {
    width: fit-content;
}

// Height
.h-15px {
    height: 15px;
}

// Backgrounds

.bg-white {
    background-color: #fff;
}

.bg-black {
    background-color: #000;
}

.bg-teal-gradient {
    background: linear-gradient(82.51deg, #0FC28D 12.26%, #15B7C1 39.17%, #1A9DC6 60.29%, #0C6DC7 94.89%);
}

.talk-to-us-text {
    color: #4163F6;
}

.pointer-icon {
    cursor: pointer;
}